# node_modules
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 本地环境
.env
.env.local
.env.*.local

# admin build
admin/dist/
